* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    background: url("../../static/img/back.jpg") no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size-adjust: 0.6;
}

html, body {
    height: 100%;
}

#wrap {
    background: rgba(105, 105, 105, 0.3);
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}

#navbar {
    height: 55px;
    width: 100%;
    background: rgba(70, 70, 70, 0.2);
}

#navbar_button_group {
    height: 100%;
    width: fit-content;
    max-width: 100%;
    margin: 0 10px;
    padding-top: 10px;
}

.navbar_button {
    position: relative;
    display: inline-block;
    font-size: 100%;
    font-weight: 700;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none;
    background: linear-gradient(rgba(110, 112, 120, 0.7), rgba(81, 81, 86, 0.7)) rgba(110, 112, 120, 0.7);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(0, 1, 6, .5),
    0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
    margin-right: 10px;
    float: left;
    border-radius: 15px;
    width: fit-content;
}

.navbar_button:hover:not(:active) {
    background: linear-gradient(rgb(80, 80, 80), rgb(20, 20, 20)) rgb(80, 80, 80);
}

.navbar_button:active {
    top: 1px;
    background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset,
    0 2px 3px rgba(0, 0, 0, .5) inset,
    0 1px 1px rgba(255, 255, 255, .1);
}

#header {
    width: 100%;
}

#footer {
    width: 80%;
    margin: -60px auto auto;
    bottom: 0;
    position: relative;
}

#header, #footer {
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
}

#footer_block {
    height: 30px;
    top: 25%;
    text-align: center;
    position: relative;
    line-height: 30px;
}

#content {
    height: fit-content;
    min-height: 700px;
    /*background: rgba(211, 211, 211, 0.3);*/
    margin: 0 60px auto;
    box-sizing: border-box;
    padding: 10px;
}

.item {
    width: 95%;
    height: fit-content;
    min-height: 200px;
    background: rgba(250, 250, 250, 0.4);
    margin: 15px auto;
    text-align: left;
    overflow: hidden;
    display: block;
    border-radius: 5px;
}

.item__header {
    background: rgba(100, 100, 100, 0.7);
    height: 40px;
}

.item__body {
    height: fit-content;
    min-height: 100%;
    background: rgba(250, 250, 250, 0.6);
    margin: 5px auto;
}

.item__header > h2 {
    color: rgb(220, 220, 220);
    line-height: 40px;
    padding-left: 10px;
}

.item__image > img {
    max-width: 100%;
    border: rgba(20, 20, 240, 0.2) 2px solid;
}

.item__image {
    padding: 10px;
    max-width: 30%;
    float: left;
}

.item__params {
    width: 20%;
}

.item__description {
    width: 30%;
}

.item_image_ext {
    margin: 0 auto;
    max-width: 50%;
    float: left;
}

.item_params_ext {
    width: 40%;
    height: fit-content;
}

.item__description_ext {
    margin-left: 10px;
    width: 50%;
    height: fit-content;
}

.item__params, .item__description,
.item__params_ext, .item__description_ext {
    height: fit-content;
    padding: 10px;
    margin: 10px 10px auto;
    background: rgba(250, 250, 250, 0.8);
    float: left;
    border: rgba(20, 20, 240, 0.3) 1px solid;
    box-shadow: 0 0 1px rgba(0, 0, 0, .7) inset;
}
