<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Онлайн магазин</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div id="wrap">
        <div id="header">
            {% block header %}
            {% endblock %}
        </div>

        <div id="navbar">
            {% block navbar %}
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div id="footer">
        <div id="footer_block">
            <p style="color: rgba(255, 255, 255, 0.6)"><b>FLASK WEB-SITE</b></p>
        </div>
    </div>
</body>
</html>
