<!DOCTYPE html>
<div id="navbar_button_group">
    <a href="/">
        <button class="navbar_button">
            <p>На главную</p>
        </button>
    </a>
    <button class="navbar_button">
        <p>Описание</p>
    </button>
    <button class="navbar_button">
        <p>Характеристики</p>
    </button>
    <button class="navbar_button">
        <p>Модификации</p>
    </button>
    <button class="navbar_button">
        <p>Цены</p>
    </button>
    <button class="navbar_button">
        <p>Карта</p>
    </button>
    <button class="navbar_button">
        <p>Отзывы</p>
    </button>
    <button class="navbar_button">
        <p>Обзоры</p>
    </button>
    <button class="navbar_button">
        <p>Обсуждения</p>
    </button>
    <button class="navbar_button" style="float: right; margin-right: 0;">
        <p>Корзина</p>
    </button>
</div>
</html>